.icon {
  display: inline-block;
  font-size: 21px;
  height: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  vertical-align: top;
  width: 1.5rem;
}

.icon .fa {
  font-size: inherit;
  line-height: inherit;
}

.fa {
  font-size: 21px;
  text-align: center;
  vertical-align: top;
}
