<head>
  <meta name="author" content="Joao Bordalo" />
  <meta name="description" content="Personal blog of Joao Bordalo, covering Simplicity, Usability, Productivity, Code, Design, Business and more" />
  <meta name="keywords" content="Simplicity, Usability, Productivity, Code, Design, Business, Internet, Advertising, Economics, Politics" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="shortcut icon" href="/images/jb_logo.png" type="image/x-icon">
  <link rel="icon" href="/images/jb_logo.png" type="image/x-icon">
</head>