<template name="header">
  <nav class="menu-top">
    <div class="option">
      <p>
        <a onclick="window.location='https://joaobordalo.com'" style="cursor:pointer;">
          &laquo; back to <img src="https://joaobordalo.com/images/static/logos/logo_small.png" class="logo" alt="JB logo">
        </a>
      </p>
    </div>
    <div class="option right">
      <p>
        <a href="http://feeds.feedburner.com/joaobordalo">
          <i class="fa fa-rss"></i>
          <span class="visually-hidden">RSS feed</span>
        </a>
        &ensp;
        {{# if onSearch }}
        <a onclick="window.history.go(-1)" style="cursor:pointer;">
          <i class="fa fa-close"></i>
        </a>
        {{ else }}
        <a href="/search">
          <i class="fa fa-search"></i>
          <span class="visually-hidden">Search</span>
        </a>
        {{/ if }}
      </p>
    </div>
    <div style="clear: both"></div>
  </nav>
</template>
