<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="author" content="Joao Bordalo" />
  <meta name="description" content="Personal blog of João Bordalo, covering Simplicity, Usability, Productivity, Code, Design, Business and more" />
  <meta name="keywords" content="Simplicity, Usability, Productivity, Code, Design, Business, Internet, Advertising, Economics, Politics" />
  <meta name="google-site-verification" content="VEkFchV69Q_RbvE87KfcKxIa6W9PkB4nA5gq-BYy22Y" />
  <meta name="theme-color" content="hsl(217, 71%,  53%)">
  <meta property="og:title" content="João Bordalo" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://joaobordalo.com" />
  <meta property="og:image" content="https://cdn.joaobordalo.com/images/static/logos/logo_small.png" />
  <meta property="og:image:type" content="image/png" />
  <meta property="og:image:width" content="482" />
  <meta property="og:image:height" content="482" />
  <meta name="twitter:card" content="summary">
  <meta name="twitter:creator" content="@bordalix">
  <meta name="twitter:url" content="https://joaobordalo.com">
  <meta name="twitter:title" content="João Bordalo">
  <meta name="twitter:description" content="Personal blog of João Bordalo, covering Simplicity, Usability, Productivity, Code, Design, Business and more">
  <meta name="twitter:image" content="https://cdn.joaobordalo.com/images/static/logos/logo_small.png">
  <title>João Bordalo</title>
  <link rel="shortcut icon" href="https://cdn.joaobordalo.com/images/static/logos/logo_small.png" type="image/x-icon">
  <link rel="icon" href="https://cdn.joaobordalo.com/images/static/logos/logo_small.png" type="image/x-icon">
  <link rel="manifest" href="/site_manifest.json">
  <link href="https://fonts.googleapis.com/css?family=Titillium+Web&display=swap" rel="stylesheet">
  <noscript>
    <style>
        body {
            font-size: 32px;
            text-align: center;
            line-height: 100vh;
        }
        body:after {
            content: "Please enable JavaScript in your browser to view this site.";
        }
    </style>
  </noscript>
</head>
