<template name="menu">
  <div class="fixed_menu">
    <div class="container">
      <nav class="nav">
        <div class="nav-left">
          <a class="nav-item" href="/"><img src="/images/jb_logo_round.png" alt="JB logo"></a>
          <a class="nav-item {{isActive 'about'}}" href="/about">About</a>
          <a class="nav-item {{isActive 'contact'}}" href="/contact">Contact</a>
          <a class="nav-item {{isActive 'search'}}" href="/search">Search</a>
          <a class="nav-item" href="http://feeds.feedburner.com/joaobordalo">RSS</a>
        </div>
      </nav>
    </div>
  </div>
</template>