<template name="notFound">
  <h2 class="heading">Oops!</h2>
  <p class="lead">We can't seem to find the page you're looking for.</p>
  <p>Error code: 404</p>
  <p>
    Here are some helpful links instead:<br />
    <ul>
      <li><a href="/blog">Blog</a></li>
      <li><a href="/#contact">Contact</a></li>
      <li><a href="/#experience">Experience</a></li>
      <li><a href="/">Homepage</a></li>
      <li><a href="/portfolio">Portfolio</a></li>
      <li><a href="/#resume">Resume</a></li>
      <li><a href="/search">Search</a></li>
    </ul>
  </p>
</template>
